In [22]:
import sqlite3

# sample.db　という名前のデータベースファイル
db = 'sample.db'

#　データベースに接続:Connentionオブジェクトを作成
#　データベースがすでに存在するときはそのまま接続
#　データベースがないときは新しく作成して接続
con = sqlite3.connect(db)

#　カーソルオブジェクトを作成
csr = con.cursor()

# テーブルを作成
sql = 'create table Employee1(name, email, department, position);'
csr.execute(sql)

# 保存
con.commit()

#　接続を終了
con.close()

In [16]:
import sqlite3

# sample.db　という名前のデータベースファイル
db = 'sample.db'

#　データベースに接続
con = sqlite3.connect(db)

#　カーソルオブジェクトを作成
csr = con.cursor()

# テーブルにデータを格納
sql = "insert into Employee(name, email, department, position) \
values('Yamada', 'yamada@abcxyz.co.jp','Sales','staff');"
csr.execute(sql)
sql = "insert into Employee(name, email, department, position) \
values('Suzuki', 'suzuki@abcxyz.co.jp','Development','staff');"
csr.execute(sql)

# この時点の内容を確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブルからデータを削除
sql = "delete from Employee where name = 'Yamada';"
csr.execute(sql)

# この時点の内容を確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブル中のデータを更新
sql = "update Employee set position = 'Manager' where name = 'suzuki';"
csr.execute(sql) 

# 保存
con.commit()

#　内容を読み取って表示
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

#　接続を終了
con.close()

[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff'), ('Yamada', 'yamada@abcxyz.co.jp', 'Sales', 'staff'), ('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff'), ('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff'), ('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]

In [17]:
csr.execute('drop table data_set')
con.commit()

ProgrammingError: Cannot operate on a closed database.

In [21]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute('create table human1(name, nickname);')

csr.execute("insert into human1(name) values('Ichiro');")
csr.execute("insert into human1(name) values('Jiro');")
csr.execute("insert into human1(name) values('Saburo');")

csr.execute("update human1 set nickname = 'Lazer' where name = 'Ichiro';")

csr.execute("select * from human1;")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None)]

In [20]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute("update human set nickname = 'Lazer' where name = 'Jiro';")

csr.execute("delete from human where nickname = 'Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Saburo', None)]